.Hero {
  background: #E09D38;
  background: linear-gradient(190deg, rgba(224, 157, 56, 1) 40%, rgba(255, 255, 255, 1) 63%);
  min-height: 100vh;
  padding-top: 50px;
}

.stackWrapper {
  position: relative;
  width: 100%;
  max-width: 1100px;
  height: 680px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.topCard:hover {
  transform: scale(1.05) translateY(-3px) !important;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  z-index: 20 !important;
}

/* MOBILE UPDATES */
@media (max-width: 768px) {
  .stackWrapper {
    /* This creates the 'margin' from the screen edges */
    width: 90%;
    height: 600px;
    /* Adjusted height for mobile content */
  }
}