.topCard:hover {
  transform: scale(1.05) translateY(-3px) !important;
  /* Override inline styles on hover */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  z-index: 20 !important;
}



.stackWrapper {
  position: relative;
  width: 100%;
  max-width: 1100px;
  /* Adjust based on your design preferences */
  height: 800px;
  /* Needs fixed height to contain absolute cards */
  margin: 0 auto;
  /* Center horizontally */
  display: flex;
  justify-content: center;
}

/* 
  background: #E09B34;
  background: linear-gradient(186deg, rgba(224, 155, 52, 1) 0%, rgba(255, 255, 255, 1) 48%); 
*/

/* 
"w-full flex flex-col min-h-screen bg-[#f4f4f4]"
*/

.Hero {
  background: #E09D38;
  background: linear-gradient(190deg, rgba(224, 157, 56, 1) 40%, rgba(255, 255, 255, 1) 63%)
}